<h2><%= @title %></h2>
<div class="command-query-result">
  <table class="result">
    <thead>
    <tr>
      <% @data.all.columns.each do |title| %>
          <th class="col-<%= title %>"><%= ActiveRecord::Base.human_attribute_name title %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @data.all.each do |record| %>
        <tr>
          <% record.each do |title, val| %>
              <td class="col-<%= title %>"><%= val %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @data %>
